#ghg {
    display: inline-block;
}

.card {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 6%;
    margin-bottom: 6%;
    width: 89%;
}


#imgq {
    width: 80%;
    height: 78%;
    margin-left: 10%;
    margin-right: 10%;
}